* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.primary-color {
    color: #FD6E0A;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.link-button {
    padding: 18px 35px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
}

.contact-button {
    padding: 18px 30px;
    height: 60px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}

/* banner style */
.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 40px;
}

section {
    margin-top: 130px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* About section */
main {
    padding: 120px 230px;
    background: #FFF8F3;
    border-radius: 10px;
    height: 550px;
}

.about-section {
    padding: 131px 155px;
    height: 288px;
}

.about-title {
    height: 48px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;

}

.about-description {
    font-size: 18px;
    height: 120px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
    padding-top: 35px;
}

/* About info section */
.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background: #FFFFFF;
}

.about-info {}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* What i do section */

.skill-container {
    display: flex;
    gap: 24px;
    background: linen;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill {
    padding: 30px;
    background: lightgrey;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.summary-title {
    height: 48px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
}

.resume {
    margin-bottom: 130px;
}

.resume-content {
    display: flex;
    gap: 24px;
    margin-top: 113px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-item .title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-item .description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contact style */
.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;

}



.contact,
input[type="text"],
input[type="email"],
textarea {
    margin: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.description {
    color: #474747;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 24px;
}

.contact a {
    text-decoration: none;
}

.contact-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    width: 305px;
    height: 48px;
    text-align: left;
}